<%- include('./includes/header') %>
    <title>Page not found</title>
    <link rel="stylesheet" href="/styles/main.css">

    </head>

    <body>
        <%- include('./includes/navbar') %>

            <div class="container text-center">
                <h1>
                    <%= notFind %>
                </h1>
                <div class="alert alert-danger mt-5 " role="alert">
                    看來發生了點錯誤 :(
                </div>


            </div>
            <div class="container d-flex justify-content-center">
                <img src="/images/404.png" alt="">
            </div>

            <%- include('./includes/footer') %>